<div class="wrapper">
  <%= render 'mailbox/header' %>
    <div class="content-wrapper">
      <%= render 'layouts/content_header' %>
        <section class="content">
            <div class="row">
                <div class="col-sm-12">
                    <div class="mailbox">
                        <div class="mailbox-header">
                            <div class="row">
                                <div class="col-xs-4">
                                    <div class="inbox-avatar">
                                      <% if current_user.picture_url != "" %>
                                        <img class="img-circle border-green" src="<%= current_user.picture_url %>">
                                      <% else %>
                                        <%= image_tag 'avatar.png', class: "img-circle border-green" %>
                                      <% end %>
                                        <div class="inbox-avatar-text hidden-xs hidden-sm">
                                            <div class="avatar-name"><%= current_user.full_name %></div>
                                            <div><small>Mailbox</small></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-8">
                                    <div class="inbox-toolbar btn-toolbar">
                                        <div class="btn-group">
                                            <%= link_to( new_conversation_path, class: "btn btn-success" ) do %>
                                              <span class="fa fa-pencil-square-o make-white"></span>
                                            <% end %>
                                        </div>
                                        <div class="hidden-xs hidden-sm btn-group">
                                          <% if conversation.is_trashed?(current_user) %>
                                              <%= link_to 'Untrash', untrash_conversation_path(conversation), class: 'btn btn-info', method: :post %>
                                          <% else %>
                                              <%= link_to( trash_conversation_path( conversation ), class: 'btn btn-danger', method: :post ) do %>
                                                <span class='fa fa-trash make-white'></span>
                                              <% end %>
                                          <% end %>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mailbox-body">
                            <div class="row m-0">
                                <div class="col-sm-3 p-0 inbox-nav hidden-xs hidden-sm">
                                    <div class="mailbox-sideber">
                                        <div class="profile-usermenu">
                                            <h6>Mailbox</h6>
                                            <% if @receipts.first.trashed %>
                                              <%= render 'mailbox/trash_nav' %>
                                            <% else %>
                                              <%= render 'mailbox/inbox_nav' %>
                                            <% end %>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-9 p-0 inbox-mail">
                                    <div class="inbox-avatar p-20 border-btm">
                                      <% if current_user.picture_url != "" %>
                                        <img class="border-green hidden-xs hidden-sm" src="<%= current_user.picture_url %>">
                                      <% else %>
                                        <%= image_tag 'avatar.png', class: "border-green hidden-xs hidden-sm" %>
                                      <% end %>
                                        <div class="inbox-avatar-text">
                                            <div class="avatar-name"><strong>From: <%= conversation.originator.full_name %></strong>
                                            </div>
                                            <div><small><strong>Subject: </strong><%= conversation.subject %></small></div>
                                        </div>
                                    </div>
                                    <div class="inbox-mail-details p-20">
                                        <% @receipts.each do | receipt | %>
                                          <% if current_user.full_name == User.find( receipt.message.sender_id ).full_name %>
                                            <div class="border-message-me">
                                          <% else %>
                                            <div class="border-message-recipient">
                                          <% end %>
                                              <h3><%= User.find( receipt.message.sender_id ).full_name %></h3>
                                              <p><%= receipt.message.body %></p>
                                            </div>
                                        <% end %>
                                    </div>
                                </div>
                            </div>
                            <div class="m-t-20 border-all p-20">
                              <%= form_for :message, url: reply_conversation_path(conversation) do |f| %>
                              <div class="form-group">
                                <%= f.text_area :body, placeholder: "Reply Message", rows: 4, class: "form-control" %>
                              </div>
                              <%= f.submit "Reply", class: 'btn btn-danger pull-right' %>
                              <% end %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section> <!-- /.content -->
    </div> <!-- /.content-wrapper -->
</div> <!-- ./wrapper -->
