<ul class="sidebar-menu">
    <li class="header">MAIN NAVIGATION</li>

    <li>
      <%= link_to( root_path ) do %>
        <i class="ti-home"></i> <span>Dashboard</span>
        <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
        </span>
      <% end %>
    </li>

    <li>
      <%= link_to( mailbox_inbox_path ) do %>
      <i class="ti-email"></i> <span>Mail</span>
      <span class="pull-right-container">
        <% if @unread > 0 %>
        <small class="label pull-right bg-red"><%= @unread %></small>
        <% else %>
        <i class="fa fa-angle-left pull-right"></i>
        <% end %>
      </span>
      <% end %>
    </li>

    <li>
      <%= link_to( ticket_index_path ) do %>
        <i class="ti-layout"></i> <span>My Tickets</span>
        <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
        </span>
      <% end %>
    </li>

    <li>
      <%= link_to( items_path ) do %>
        <i class="fa fa-globe"></i> <span>Order Supplies</span>
        <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
        </span>
      <% end %>
    </li>

    <li class="active">
      <%= link_to( projects_path ) do %>
        <i class="ti-layout"></i> <span>IT Projects</span>
        <span class="pull-right-container">
          <i class=" fa fa-angle-left pull-right "></i>
        </span>
      <% end %>
    </li>

    <li>
      <%= link_to( eworker_index_path ) do %>
        <i class="ti-layout"></i> <span>Excel Worker</span>
        <span class="pull-right-container">
          <i class=" fa fa-angle-left pull-right "></i>
        </span>
      <% end %>
    </li>

    <li>
      <%= link_to( destroy_user_session_path, :method => 'delete' ) do %>
        <i class="fa fa-sign-out"></i> <span>Log Out</span>
        <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
        </span>
      <% end %>
    </li>

    <li class="header">LABELS</li>
    <li><a href="#"><i class="fa fa-circle color-green"></i> <span>Important</span></a></li>
    <li><a href="#"><i class="fa fa-circle color-red"></i> <span>Warning</span></a></li>
    <li><a href="#"><i class="fa fa-circle color-yellow"></i> <span>Information</span></a></li>
</ul>
