<!-- Site wrapper -->
<div class="wrapper">
    <%= render 'projects/header' %>

    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <%= render 'layouts/content_header' %>
        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-sm-12">
                  <div class='ct-link'>
                    <%= link_to '+ New Project', new_project_path %>
                  </div>
                    <div class="panel panel-bd lobidrag">
                        <div class="panel-heading">
                            <div class="panel-title">
                                <h4>Filter</h4>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <input type="text" class="form-control input-sm m-b-15" id="filter" placeholder="Search in table">
                                <%= render 'projects_table' %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section> <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    <%= render 'layouts/footer' %>
</div>

<script>
  "use strict"; // Start of use strict

  // Footable example 2
  $('#example1').footable();

  $( ".approve-project" ).on( "click", function( e ) {
    e.preventDefault();

    var url = e.target.href
    var data = "status=" + e.target.innerText + "&id=" + e.target.className.replace( /^\D+/g, '' )

    $.ajax({
      method: "get",
      url: url,
      data: data
    }).done( function( response ) {
      var text = response.split( "<br>" )[ 0 ].trim();
      var idHTML = response.split( "<br>" )[ 1 ].trim();
      var id = $( idHTML ).text();
      var className = "change-status " + id;

      var changeElement = document.getElementsByClassName( className )[ 0 ];
      changeElement.innerHTML = $( text ).html();
    });
  });
</script>
