<!-- Site wrapper -->
<div class="wrapper">
    <%= render 'projects/header' %>

    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <%= render 'layouts/content_header' %>
        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-sm-12">
                  <div class='ct-link'>
                    <%= link_to '+ New Project', new_project_path %>
                  </div>
                    <div class="panel panel-bd lobidrag">
                        <div class="panel-heading">
                            <div class="panel-title">
                                <h4>Filter</h4>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <input type="text" class="form-control input-sm m-b-15" id="filter" placeholder="Search in table">
                                <table id="example1" class="footable table table-bordered toggle-arrow-tiny" data-page-size="10" data-filter=#filter>
                                    <thead>
                                        <tr>
                                            <th>Project Title</th>
                                            <th>Requester</th>
                                            <th>Email</th>
                                            <th>Location</th>
                                            <th>Approval Status</th>
                                            <th>Status of Project</th>
                                            <th>Admin</th>
                                            <th data-hide="all">Description</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                      <% @projects.each do | project | %>
                                        <tr>
                                          <td><%= project.title %></td>
                                          <td><%= project.user.full_name %></td>
                                          <td><%= project.user.email %></td>
                                          <td><%= project.location %></td>
                                          <% if project.approved %>
                                            <td class="change-status">Approved</td>
                                          <% else %>
                                            <% if project.updated_at > project.created_at %>
                                              <td class="change-status">Denied</td>
                                            <% else %>
                                              <td class="change-status">In Review</td>
                                            <% end %>
                                          <% end %>
                                          <td></td>
                                          <td>
                                            <span>
                                              <%= link_to( "Approve", edit_project_path( project ), class: "approve-project" ) %> | <%= link_to( "Deny", edit_project_path( project ), class: "approve-project" ) %>
                                            </span>
                                          </td>
                                          <td><%= project.description %></td>
                                        </tr>
                                      <% end %>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <td colspan="6">
                                                <ul class="pagination pull-right"></ul>
                                            </td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section> <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    <%= render 'layouts/footer' %>
</div>

<script>
  "use strict"; // Start of use strict

  // Footable example 2
  $('#example1').footable();

  $( ".approve-project" ).on( "click", function( e ) {
    e.preventDefault();

    var url = e.target.href
    var data = "status=" + e.target.innerText

    $.ajax({
      method: "get",
      url: url,
      data: data
    }).done( function( response ) {
      var changeElement = document.getElementsByClassName( "change-status" )[ 0 ]
      changeElement.innerHTML = $( response ).html();
    });
  });
</script>
