<!-- Site wrapper -->
<div class="wrapper">
  <%= render 'projects/header' %>

    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <%= render 'layouts/content_header' %>
        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-sm-12">
                    <div class="panel panel-bd lobidrag">
                        <div class="panel-heading">
                            <div class="panel-title issue-heading">
                                <h4>Give a few details about the project!</h4>
                            </div>
                        </div>
                        <div class="panel-body">
                          <%= form_for @project, :url => '/projects', :enctype =>"multipart/form-data" do |f| %>
                            <div class="form-group">
                              <%= f.hidden_field :user_id, value: current_user.id %>
                              <label for="title">Title of Project</label>
                              <%= f.text_field :title, placeholder: "Ex. Convert all Docs into fillable PDF copies" %>
                              <br>
                              <label for="description">Description of Project</label>
                              <%= f.text_area :description, id: 'some-textarea', class: "form-control", rows: "15", placeholder: "Enter text ..." %>
                              <br>
                              <label for="location">Choose a Location</label>
                              <%= f.select :location, [
                                                        [ 'Corporate Office' ],
                                                        [ 'Coney Island Branac' ],
                                                        [ 'Bedstuy' ],
                                                        [ '1413' ],
                                                        [ 'Blondell' ],
                                                        [ 'Audubon' ],
                                                        [ '96th St.' ],
                                                        [ 'Columbus' ],
                                                        [ 'Lexington Ave.' ],
                                                        [ '2nd Ave.' ],
                                                        [ 'Huntington' ],
                                                        [ 'CUC-Huntington' ],
                                                        [ 'CUC-Upper East Side' ],
                                                        [ 'CUC-Upper West Side' ] ]
                                                        %>
                            <br>
                            <%= f.submit 'Submit', class: "btn btn-primary submit-project" %>
                            </div>
                          <% end %>
                        </div>
                    </div>
                </div>
            </div>
        </section> <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
</div>

<script>
    "use strict"; // Start of use strict
    //bootstrap-wysihtml5
    $('#some-textarea').wysihtml5();
</script>
