<!-- Site wrapper -->
<div class="wrapper">
    <%= render 'items/header' %>

    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <%= render 'layouts/content_header' %>
        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-sm-12">
                  <div class='ct-link'>
                    <%= link_to '+ Order New Item', new_item_path %>
                  </div>
                    <div class="panel panel-bd lobidrag">
                        <div class="panel-heading">
                            <div class="panel-title">
                                <h4>Filter</h4>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <input type="text" class="form-control input-sm m-b-15" id="filter" placeholder="Search in table">
                                <%= render 'items_table' %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section> <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    <%= render 'layouts/footer' %>
</div>

<script>
  "use strict"; // Start of use strict

  // Footable example 2
  $('#example1').footable();

  $( '.update_check' ).on( 'change', function( e ) {
    e.preventDefault();

    var target = e.target;
    var form = $( target ).parent()[ 0 ]

    var type = form.method;
    var url = form.action;
    var data = $( form ).serialize();

    $.ajax({
      type: 'put',
      url: url,
      data: data
    }).done( function( response ) {

    });
  });
</script>
